<h1 class="site-title">
	<span class="base03">i</span><span class="base03">s</span><span class="base04">t</span><span class="base04">h</span><span class="base05">i</span><span class="base05">s</span><span class="base09">b</span><span class="base0a">l</span><span class="base0b">o</span><span class="base0c">g</span>
</h1>

<div class="hero-logo">
  <img src="/img/base16-eighties.svg">
</div>

<div style="text-align: center;">
  ramblings on all the <code>dumb</code> things I do while coding,
</div>
<div style="text-align: center;">
	with an occasional decent post
</div>


